.git
**/.git
**/.vs
**/bin
**/obj
**/*.user
**/*.suo
release
**/release
.idea
Secrets
Resources/Prototypes/CorvaxSecrets
Resources/Prototypes/CorvaxSecretsServer
Resources/Textures/CorvaxSecrets
Resources/Audio/CorvaxSecrets
Resources/Locale/ru-RU/corvax-secrets
Tools/Docker/mapper/data
*.binlog
node_modules
